<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To-Do Form</title>
</head>
<body>
  <h1>Add a To-Do Item</h1>
  <form action="http://127.0.0.1:5000/submittodoitem" method="POST">
    <label for="itemName">Item Name:</label><br>
    <input type="text" id="itemName" name="itemName" required><br><br>

    <label for="itemDescription">Item Description:</label><br>
    <textarea id="itemDescription" name="itemDescription" required></textarea><br><br>
    
    <label for="itemID">Item ID:</label><br>
    <input type="number" id="itemID" name="itemID" required><br><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
